{% extends 'baseAdmin.html.twig' %}

{% block title %} - Utilisateurs{% endblock %}

{% block body %}

<section class="container">
      <h2>LISTING DES UTILISATEURS</h2>
      {% include 'shared/flash.html.twig' %}
      <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="align-middle">{{ user.email }}</td>
                    <td class="align-middle">
                        {{ user.roles|json_encode|replace({'["': '', '"]': '', '","': ' + ', 'ROLE_': ''})|lower }}
                        
                    </td>
                    <td class="align-middle">
                            <a href="{{ path('user_update', {'id': user.id}) }}" class="btn btn-primary m-2">Modifier</a>
                            <a href="{{ path('user_delete', {'id': user.id}) }}" onclick=" return confirm('Etes vous sure de supprimer?')" class="btn btn-danger m-2">Supprimer</i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}