/* **************************************** RESET **************************************** */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:circle;
}

:root {
    --color-white: #FFFFFF;
    --color-light-grey: #BBBBBB;
}


/* **************************************** NAV **************************************** */

nav {
    min-height: calc(100vh - 78.4px - 50px);
}

    nav a {
        color: var(--color-white);
       
    }

        nav a:hover {
            color: var(--color-light-grey);
        }

/* **************************************** TABLE **************************************** */

table img {
    width: 120px;
    height: 80px;
}



