@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
font-family: 'Oswald', sans-serif;
margin: 0;
padding:0;
}

.fleche{
    width: 30px;
    height: 30px;
    position:fixed;
    bottom: 55px;
    right: 45px;
    z-index: 1;
}

/* **************************************** MAIN **************************************** */

#main {
    
    background-color: #F6EFEF;
}

#nav{
    background-color:#FAE6De ;
         
}
#header{
    text-decoration: none;

}

.logo{
    width: 150px;
    height: 100px;
}

.btn{
    border: none;
    opacity: 0.6;
    letter-spacing: 3px;
    transition: 0.1s;
}

.btn:hover {
opacity:1 ;
}

.imgCaroussel{
    width: 70%;
    margin: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}
.presentation p{
    font-size:20px;
}

#presentation{
    background-color: #FAE6DE;
        
}

#divpres{
    display:flex;
    align-items: center;
}

#carouselimg{
    width: 80%;
    margin: auto;
    aspect-ratio: 4/3;
}

#icons{
    width: 150px;
    height: 150px;
    margin: auto;

}
#services{
    background-color:#FAE6DE;
    
}

#divservice{
    background-color: #F6EFEF;
}

#realisations {
    background-color: #F6EFEF;
}

h2{
    padding:1em;
display:flex;
justify-content: center;

}

#offres{
    background-color: #F6EFEF;
}

#offres h3{
    font-size: 100px;
    
}

#divrealisation {
    background-color: #F8D9CC;
  }

#cardimg {
    width: 100%;
    height:400px;
}


#divoffres{
    background-color: #faccb7;
    
}
#divoffres1{
    background-color: #f7b69b;
      
}

.btnoffres{
    background-color:#FAE6DE;
    border:1PX;
    border-radius:5px;
    color:#444241;
    padding:5px 15px 5px 15px;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;

}

.btnoffres:hover {
 
    background-color:#444241;
    color:#FAE6DE;
    box-shadow: 10px 10px 10px black;
    }

.btnform{
background-color:#FAE6DE;
border-radius:5px;
color:#444241;
padding:5px 25px 5px 25px;
box-shadow: 5px 5px 5px black;
}

.btnform:hover {

background-color:#444241;
color:#FAE6DE;
box-shadow: 10px 10px 10px black;
}
       
#contact{
    background-color: #FAE6DE;
}

.tabcontact {
    display:flex;
    flex-direction: column;
    }
   
    
.tabform{
padding: 1em;
margin:5px;
border-radius: 10px;
}

.btnformulaire{
    display: flex;
    justify-content: space-around;
    padding:10px;
}

#footer{
    background-color:#FAE6De ;

}


#footer a{
text-decoration: none;
color:black;
margin: 1px;
}

#reservation{
    background-color: #FAE6DE;
    width: 100%;
    margin: auto;
   }

#livredor{
    background-color: #F6EFEF;

}