@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
font-family: 'Oswald', sans-serif;
margin: 0;
padding:0;
}

.fleche{
    width: 30px;
    height: 30px;
    position:fixed;
    bottom: 55px;
    right: 15px;
    z-index: 1;
}

.nav{
    background-color:#FAE6De ;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding-top:15px;
         
}



.logo{
    width: 150px;
    height: 100px;
}


.btn{
  
    border: none;
    opacity: 0.6;
    letter-spacing: 3px;
    transition: 0.1s;
   
}

.btn:hover {
opacity:1 ;

}
.imgCaroussel{
    width: 70%;
    margin: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}



.presentation{
    background-color: #FAE6DE;
    padding: 15px 0px 25px 0px;
      
}

#divpres{
    
    display:flex;
    align-items: center;
 
}

#carouselimg{
    width: 80%;
    margin: auto;
    aspect-ratio: 4/3;
}


.services{
    background-color:#F6EFEF;
    height: 700px;
   
}

.containerservice{
    display: flex;
    width: 80%;
    margin: auto;
    height: 700px;
    
    }

.containerservice .divservice{
    background-color: #FAE6DE;
    display: block;
    padding: 20px;
    margin: 20px;
   
    
    }

.containerservice .divservice h2,p{
display: flex;
justify-content: center;
flex-direction: column;
}

.realisations {
    background-color: #F6EFEF;
    width: 100%;
    margin: auto;
    padding-bottom: 1.5em;
}

h2{
    padding:1em;
display:flex;
justify-content: center;

}

#offres{
    background-color:#FAE6De ;
}


.container-realisations {
    
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5em;

  }

#divrealisation {
    background-color: #F8D9CC;
  }

#cardimg {
    width: 100%;
    height:400px;
}

.card h3{
    font-size: 100px;
    
}


.containeroffres{
    padding:1.5em;
    background-color:#FAE6De ;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:flex-end;
     
}

.divoffres{
    background-color: #faccb7;
    height:597px;
    width: 421px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-direction: column;
}
.divoffres1{
    background-color: #f7b69b;
    height:640px;
    width: 421px;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
}

.btnoffres{
    background-color:#FAC37D;
    border:1PX;
    border-radius:5px;
    color:#F3653F;
    padding:5px 15px 5px 15px;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;

}

.btnoffres:hover {
 
    background-color:#F3653F;
    color:#FAC37D;
    box-shadow: 10px 10px 10px black;
    }

.reset{
background-color:#FAC37D;
border-radius:5px;
color:#F3653F;
padding:5px 25px 5px 25px;
box-shadow: 5px 5px 5px black;
}

.reset:hover {

background-color:#F3653F;
color:#FAC37D;
box-shadow: 10px 10px 10px black;
}

.submit{
background-color:#FAC37D;
border-radius:5px;
color:#F3653F;
padding:5px 25px 5px 25px;
box-shadow: 5px 5px 5px black;

}
.submit:hover {

    background-color:#F3653F;
    color:#FAC37D;
    box-shadow: 10px 10px 10px black;
    }
        
.containerContact {
    display :flex;
    justify-content:space-around;
    padding:1.5em;

    }

    .contact{
        background-color: #FAE6DE;
       }

    .tabcontact {
        padding:5px;
        display:flex;
        flex-direction: column;
       }
   
    
    .tabform{
    padding: 1em;
    margin:5px;
    border-radius: 10px;
}

.btnform{
    display: flex;
    justify-content: space-around;
    padding:10px;
}

.footer{
    background-color:#FAE6De ;
    padding:1em;
    
}


.footer a{

text-decoration: none;
color:black;
margin: 1px;
}

#apropos{
 
    display:flex; 
    justify-content:center;
    flex-direction: column;
} 


.reservation{
    background-color: #FAE6DE;
    width: 100%;
    margin: auto;
   }