<h1>Bonjour</h1>

<p>
    Veuillez laissez un avis en cliquant sur le lien en cliquant sur le lien suivant: <br><br>
    <a href="https://127.0.0.1:8000/user/reservation/liste">Votre avis</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur Pretty Baby
</p>
