{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section class="row" id="realisations">
        <div class="col-12">
            <h2>PHOTO BABY SHOWER</h2>
        </div>
        <div class="col-4 p-5">
            <img src="{{ asset('images/realisations/' ~ realisation.img) }}" alt="photo realisations" id="cardimg">       
        </div>
        {% for image in images %}
            <div class="col-4 p-5">
                <img src="{{ asset('images/realisations/' ~ image.nameimg) }}" alt="photo realisations" id="cardimg">       
            </div>
        {% endfor %}

  
    </section>
{% endblock %}
