{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section class="row" id="realisations">
        <div class="col-12">
            <h2>{{ realisation.titre }}</h2>
        </div>
        <div class="col-4 p-5">
            <img src="{{ asset('images/realisations/' ~ realisation.img) }}" alt="photo realisations" id="cardimg">       
        </div>
        {% for image in images %}
            <div class="col-4 p-5">
                <img src="{{ asset('images/realisations/' ~ image.nameimg) }}" alt="photo realisations" id="cardimg">       
            </div>
        {% endfor %}
        <div class="row" >
            <div class="col-12 p-4 text-center">
            <a href="{{ path('realisations') }}" class="btnoffres">Retour</a>
            </div>
        </div>

  
    </section>
{% endblock %}
