<div class="cookie-consent-modal">
    <div class="text-center content">
        <h1>Ce site web utilise des cookies</h1>
        <p>Nous utilisons des cookies pour personnaliser le contenu.<br>
            Pour consulter ou modifier les paramètres de consentement à tout moment,<br>
            veuillez consulter notre politique de confidentialité en utilisant le lien ci-dessous.</p>
        <div class="btns">
            <button class="btn cancel">Refuser</button>
            <button class="btn accept">Accepter</button>
        </div>
        <br><a href="dp.html">Politique de confidentialités</a>
    </div>
</div>